configuration {
	modi: "drun,run,window";
	show-icons: true;
	icon-theme: "Papirus";
	drun-display-format: "{name}";
	display-drun: "Apps";
	display-run: "Run";
	display-window: "Ventanas";
}

@theme "~/.config/rofi/personalizador.rasi"
